/*Button Two*/
a.button-two {
  display: inline-block;
  border-radius: 2px;
  border: none;
  height: 45px;
  padding: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #26cb7c;
  color: white;
  width: 40%;
  
  width: 100%;
  position: relative;
  display: inline-block;
  //margin: 10px;
  text-align: center;
}
